#*

#!/.gitignore
#!pom.xml
#!.classpath
#!.project
#!README.md

#!/.settings/

#!src/
#!src/*
#!src/*/*

#!target/
#target/classes/
#target/generated-sources/
#target/m2e-wtp/
#target/Archineh-0.0.1-SNAPSHOT/WEB-INF/lib/
#/target/
#target/maven-archiver/
#target/maven-status/
#target/test-classes/
#target/tomcat/
#target/Archineh-0.0.1-SNAPSHOT.war

.idea/

!tvdoon/
tvdoon/_tvdoon.py
util/
tvdoon.egg-info/
dist/
